.watermark-title {
    font-family: Koulen, bold;
    color: rgb(161, 27, 99, 0.4);
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: -1;
}

.page-container {
    max-width: 900px;
    margin: 100px auto 30px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;
}

.subtitle-main {
    font-family: koulen, bold;
    font-weight: 400;
    font-size: 4rem;
    margin-top: -10px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.slogan {
    font-style: Karatina;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 25px;
    color: #C00C6D;
}

.slogan-text {
    font-family: Inria Serif;
    font-size: 1.1rem;
}

.sticky-note {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    transform: rotate(2deg);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.sticky-note img {
    max-width: 100%;
    height: auto;
    display: block;
}

.diagram-container {
    position: relative;
    min-height: 250px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diagram-container img, .diagram-container svg {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.hand-placeholder {
    position: relative;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.hand-placeholder img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Media Queries para responsividad */
/* Escritorios grandes y superiores (ancho >= 1200px) */
@media (min-width: 1200px) {
    .page-container {
        max-width: 70%;
    }

    .watermark-title {
        font-size: 15rem;
    }
}

/* Portátiles y tabletas grandes (ancho < 1200px, pero > 576px) */
@media (max-width: 1199px) and (min-width: 577px) {
    .page-container {
        max-width: 900px;
    }

    .watermark-title {
        font-size: 10rem;
    }
}

/* Móviles (ancho <= 576px) */
@media (max-width: 576px) {
    .page-container {
        padding: 15px;
        margin: 60px auto 30px auto;
        max-width: 90%;
    }

    .watermark-title {
        font-size: 8rem;
    }

    .diagram-container {
        min-height: 200px;
    }
}