body {
    /* Color de fondo exterior del diseño */
    background-color: #F7D7D7; 
    font-family: Arial, sans-serif;
}

.cv-container {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    max-width: 1200px;
    display: flex; 
    position: relative;
}

.cv-container::before, .cv-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cv-container::before {
    transform: rotate(-1deg);
    z-index: -1;
}
.cv-container::after {
    transform: rotate(1deg);
    z-index: -2;
}

.left-panel {
    background-color: #ffffff; 
    padding: 30px;
    flex: 2; 
    min-width: 450px;
    position: relative;
}
.right-panel {
    background-color: #ffffff; 
    padding: 30px;
    flex: 1; 
    min-width: 300px;
}

.svg-full-width {
    width: 100%;
    height: auto;
    display: block;
}

.contact-date-row {
    border-bottom: 1px solid #333; 
    margin-bottom: 10px; 
    padding-bottom: 5px; 
}
.contact-date-row p {
    margin-bottom: 0 !important;
    font-weight: normal;
    color: #333;
    font-size: 0.9rem;
}

.section-title {
    color: #ee5b7c;
    border-bottom: 2px solid #f7e6e9;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.experience-item, .education-item, .student-program-item {
    margin-bottom: 20px;
}
.experience-item h4, .education-item h4 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.experience-item p, .education-item p {
    color: #666;
    margin-bottom: 5px;
}
.experience-item ul {
    list-style: disc;
    padding-left: 20px;
    color: #666;
}

.skills-word-cloud {
    text-align: center;
    margin-top: 30px;
}
.skills-word-cloud img {
    width: 100%;
    height: auto;
    max-width: 250px;
}

.recommendation-box {
    background-color: #f7e6e9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.recommendation-box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 0;
    font-size: 1rem; 
}
.recommendation-box a:hover {
    color: #ee5b7c;
}
.recommendation-box i {
    margin-right: 10px;
    color: #ee5b7c;
}

@media (max-width: 768px) {
    .cv-container {
        flex-direction: column;
        margin: 10px;
    }
    .left-panel, .right-panel {
        min-width: unset;
        padding: 20px;
        flex: auto;
    }
    .profile-photo-container-svg {
        margin-bottom: 20px;
    }
    .skills-word-cloud img {
        max-width: 100%;
    }
}