/*    ENLACES   */
a {
    color: #000000; 
    text-decoration: none; 
    font-size: 0.8rem; 
    display: inline-flex;
    align-items: center;
    transform: scale(1); 
    transition: transform 0.3s ease-in-out;
}

 a:hover {
    text-decoration: underline;
    color: #a11b63;
    transform: scale(1.05);
}

