body {
    background-color: var(--color-bg-light);
    min-height: 100vh;
    padding: 0;
}

:root {
    --color-bg-light: #fdeef4;
    --color-accent-pink: #d84381;
    --color-text-dark: #333;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #a11b63;
    transform: scale(1.05);
    font-weight: bold;
}

button {
    background-color: #DD73A2;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: none;
    color: #FFFFFF !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5A0332;
    color: #DD73A2 !important;
}

button a {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    transform: none;
    transition: none;
}

button:hover a {
    color: inherit;
}

#footer {
    background-color: rgba(122, 89, 103, 0.8) !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    margin-bottom: 0 !important;
}

#footer p {
    margin-bottom: 0 !important;
}

#header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
}

#header a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, color 0.3s;
}

#header a:hover {
    text-decoration: underline;
    color: #a11b63;
    transform: scale(1.05);
    font-weight: bold;
}